
.starter-template {
  // padding: 3rem 1.5rem;
  text-align: center;
}

img {
  width: 100%
}

.home-banner-img {
  background: url(https://res.cloudinary.com/dsuq2ag8w/image/upload/v1617743874/index2_nxobk2.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 2rem;
  min-height: 300px;
}

@media (max-width: 992px) {
  .rounded-lg-3 { border-radius: .3rem; }
  .home-banner-img {
    background-size: 200% auto;
    background-position: top right;
    min-height: 200px;
    margin-bottom: 2rem;
  }
  .home-banner-img h1, .home-banner-img p, .home-banner-img a {
    font-size: 1rem !important;
  }
}

@media (max-width: 385px) { 
  .home-banner-img {
    margin-bottom: 0;
  }
}
