
.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
  }
  
  img {
    padding: 1rem 1.5 rem;
  }
  
  .btn-primary {
    color: #f0d8b6; 
    background: #9D4019;
    border-color: #9D4019;
  }