
.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
  }
  
  img {
    padding: 1rem 1.5 rem;
  }
  
  .btn-primary {
    color: #f0d8b6; 
    background: #9D4019;
    border-color: #9D4019;
  }

  body {
    // display: -ms-flexbox;
    // display: -webkit-box;
    // display: flex;
    // -ms-flex-align: center;
    // -ms-flex-pack: center;
    // -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
 
  }