// Customised colour palette
$heading-text-colour: #F1ECDF;  // Beige
$highlight-colour: #E38669;     // Bright orange
$body-bg: #9D4019;              // RED
$body-text-colour: #F1ECDF;     // Dark colour for text
$secondary-highlight: #F0D8B6;  //Secondary highlight colour

body {
    padding-bottom: 20px;
  }
  
.navbar {
    background-color:#9D4019;
    // font-size: 32px;
    color: $heading-text-colour;
}

.navbar-toggler-icon {
  background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e) !important;
}

.navbar a:hover, .nav-item a:hover {
  color: $highlight-colour;
}

.navbar-brand {
  font-weight: 800;
  color: $secondary-highlight;
}


.svg-logo {
  width: 3em;
  margin-right: 1em;
}