// Customised colour palette
$heading-text-colour: #F1ECDF;  // Beige
$highlight-colour: #E38669;     // Bright orange
$body-bg: #9D4019;              // RED
$body-text-colour: #F1ECDF;     // Dark colour for text
$secondary-highlight: #F0D8B6;  //Secondary highlight colour

body {
    padding-bottom: 20px;
  }
  
.navbar {
    background-color:#9D4019;
    // font-size: 32px;
    color: $heading-text-colour;
}

.navbar a:hover, .nav-item a:hover {
  color: $highlight-colour;
}

.navbar-brand {
  font-weight: 800;
  color: $secondary-highlight;

}


.svg-logo {
  width: 3em;
  margin-right: 1em;
}